<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>Aviation BBS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bbs-style.css') }}">
</head>

<body>
  <div class="container">
    <header class="page-header">
      <a href="/index" class="home-link">
        <img src="https://img.picui.cn/free/2025/07/02/686496809bfed.png" alt="Sam-Lab" class="logo">
        <strong style="margin-left: 10px;">Aviation Wiki ✈</strong>
      </a>
      <button id="themeBtn" onclick="toggleTheme()">🌙</button>
    </header>

    <aside>
      <nav>
        <ul>
          <a href="/boeing" class="asideCard">波音</a>
          <a href="/airbus" class="asideCard">空中客车</a>
          <a href="/china-planes" class="asideCard">中国商飞</a>
          <a href="/airport" class="asideCard">机场</a>
          <a href="/bbs" class="asideCard-highlight">讨论区</a>
          <a href="/personal-information" class="asideCard">个人中心</a>
          <br>
          <button class="submit-btn" onclick="window.location.href='/post'">发帖</button>
        </ul>
      </nav>
    </aside>
    <main>
      <div class="flight-container">
        <div class="plane">✈️</div>
        <div class="cloud">☁️</div>
        <div class="cloud">☁️</div>
        <div class="cloud">☁️</div>
      </div>
      <div class="main-content">
        <div class="card-list">
          <!-- 帖子卡片们 
          <div class="card-bbs">
            <span class="bbs-top">置顶</span>
            <a class="bbs-title" href="/article">标题</a>
            <div class="bbs-meta">
              <a class="bbs-author" href="#">
                <img class="bbs-avatar" src="#" alt="作者头像">
                作者
              </a>
              <span class="bbs-time">时间戳</span>
            </div>
          </div>
          <div class="card-bbs">
            <a class="bbs-title" href="#">标题</a>
            <div class="bbs-meta">
              <a class="bbs-author" href="#">
                <img class="bbs-avatar" src="#" alt="作者头像">
                作者
              </a>
              <span class="bbs-time">时间戳</span>
            </div>
          </div>
          -->
        </div>
        <aside class="hot-topics">
          <h3>今日热议</h3>
          <form>
            <label for="topic">你最关心的话题：</label>
            <input type="text" id="topic" name="topic" placeholder="输入话题">
            <button type="submit">提交</button>
          </form>
          <ul class="hot-list">
            <li>随机推荐</li>
            <li>随机推荐</li>
            <li>随机推荐</li>
          </ul>
        </aside>
      </div>
    </main>
    <footer>
      版權所有 © 2025 Sam-Lab Studio
    </footer>
  </div>
  <script src="{{ url_for('static', filename='js/bbs-theme.js') }}"></script>